@tailwind base;
@tailwind components;
@tailwind utilities;

/** - * { } used for images masonary layout **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cmodal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 80vh;
  position: absolute;
  top: 100px;
}

.cmodal {
  width: 100px;
  height: 100px;
}

.cmodal-fullscreen {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

/** images masonary layout **/
.masonry {
  columns: 4;
  column-gap: 16px;
  @media (max-width: 1200px) {
    columns: 3;
  }
  @media (max-width: 992px) {
    columns: 2;
  }
  @media (max-width: 768px) {columns: 1;}
}
.images-wrapper {
  display: grid;
  gap: 1rem;
  grid-template-rows: masonry;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  /* no more wonky bottom */
  align-tracks: stretch;
}

.image-card img {
  width: 500px;
  object-fit: contain;
  border-radius: 15px;
  transition: .2s ease-in-out;
}

.image-card img:hover {
  transform: scale(1.05);
  cursor: pointer;
}